@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This Image Repository was created by Oleksandr Levinskyi</p>
    <a href="https://www.linkedin.com/in/oleksandrlevinskyi/">LinkedIn</a> | 
    <a href="https://github.com/OleksandrLevinskyi">Github</a>
</div>
